@mixin sentencemargin() {
  margin-top: 4rem;
}

.entry-content {
  h1 {
    margin-top: 16rem;
    font-size: 3.0rem;
  }

  h2 {
    margin-top: 16rem;
    font-size: 2.4rem;
  }

  h3 {
    margin-top: 8rem;
    font-size: 2.0rem;
  }

  h4 {
    @include sentencemargin();
    font-size: 1.8rem;
  }

  h5 {
    @include sentencemargin();
    font-size: 1.6rem;
  }
  h6 {
    @include sentencemargin();
    font-size: 1.4rem;
  }

  blockquote {
    position: relative;
    display: block;
    width: 96%;
    padding: 2.0rem;
    margin: 0 auto;
    border-radius: 5px;
    font-size: .875rem;
    @include sentencemargin();
    background-color: #eee;
    &::before {
      content: "“";
      font-size: 5.0rem;
      line-height: 1em;
      font-family: 'ＭＳ Ｐゴシック',sans-serif;
      color: #fff;
      position: absolute;
      left: 1.0rem;
      top: 1.0rem;
    }
    p {
      margin: 0;
    }
  }
  table {
    @include sentencemargin();
    width: 96%;
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
  }
  th,
  td {
    padding: 1.0rem;
    border: 1px solid #ccc;
  }
  th {
    background-color: #eee;
  }

  dl {
    @include sentencemargin();
    font-size: 1.6rem;
  }

  dt {
    margin-top: 2.0rem;
  }
  dd {
    margin-left: 2.0rem;
  }

  ul {
    @include sentencemargin();
    padding-left: 2.0rem;
    li {
      margin-top: .8rem;
      list-style: disc;
      font-size: 1.6rem;
    }
  }

  ol {
    @include sentencemargin();
    padding-left: 2.0rem;
    li {
      margin-top: .8rem;
      list-style: decimal;
      font-size: 1.6rem;
    }
  }

  p {
    @include sentencemargin();
    font-size: 1.6rem;
  }

  a {
    padding-bottom: .4rem;
    border-bottom: 1px dashed #ccc;
    color: $link;
  }

  pre {
    display: block;
    width: 96%;
    margin: 0 auto;
    padding: 1.6rem;
    border-radius: 1.0rem;
    background-color: #3d3d3d;
    font-size: $middle;
    color: #f5f5f5;
    word-break: break-all;
    word-wrap: break-word;
    overflow: auto;
  }

  img {
    max-width: 96%;
    height: auto;
  }
}
