@import 'modules/site-meta';
@import 'modules/entry-meta';
@import 'modules/nav';
@import 'modules/widget';
@import 'modules/pagenation';
@import 'modules/headroom';
@import 'modules/drawer';

@import 'layout/header';


body {
  background-color: #fafafa;
}

/*
  layout
*/
.site-content {
  display: table;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0;
  @media #{$tablet} {
    display: block;
    margin-top: 0;
  }
}

.site-content-pad {
  padding-top: 40px;
}

.primary {
  display: table-cell;
  padding-right: 40px;
  vertical-align: top;
  @media #{$tablet} {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding-right: 0;
  }
}

.secondary {
  display: table-cell;
  width: 300px;
  vertical-align: top;
  @media #{$tablet} {
    display: block;
    width: 90%;
    margin: 40px auto 0;
  }
}

@import 'layout/archive';

@import 'layout/comment';

@import 'layout/footer';
