@import 'modules/site-meta';
@import 'modules/entry-meta';
@import 'modules/entry-footer';
@import 'modules/nav';
@import 'modules/widget';
@import 'modules/form';
@import 'modules/pagenation';
@import 'modules/headroom';
@import 'modules/drawer';

@import 'layout/header';


body {
  background-color: #fafafa;
  color: $default;
  font-family: "メイリオ",sans-serif;
}

a,
a:visited {
  color: $default;
}

/*
  layout
*/
.site-content {
  display: flex;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 20px;
  @media #{$sp} {
    display: block;
    width: 100%;
    margin-top: 0;
  }
}

.site-content-pad {
  padding-top: 40px;
}

.primary {
  flex: 1;
  padding-right: 40px;
  vertical-align: top;
  @media #{$sp} {
    display: block;
    width: 96%;
    margin: 0 auto;
    padding-right: 0;
  }
}

.secondary {
  width: 300px;
  vertical-align: top;
  @media #{$tablet} {
    width: 200px;
  }
  @media #{$sp} {
    display: block;
    width: 90%;
    margin: 40px auto 0;
  }
}

@import 'layout/archive';

@import 'layout/comment';

@import 'layout/footer';
