@mixin clearfix() {
  &::after {
    content: "";
    clear: both;
    display: block;
  }
}

@mixin postlayout($top: 0) {
  display: block;
  width: 96%;
  max-width: 800px;
  margin: $top auto 0;
}

@mixin border() {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 35px;
  height: 2px;
  background-color: #666;
}
