/*
  記事一覧
*/
.single-post {
  .site-content {
    display: block;
    width: 100%;
    max-width: inherit;
    margin-top: 0;
  }
  .primary {
    display: block;
    float: inherit;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .secondary {
    @include postlayout(80px);
    float: inherit;
  }
  .entry-content {
    @include postlayout(80px);
  }
  .entry-header {
    display: table;
    position: relative;
    min-height: 500px;
    width: 100%;
    padding: 40px;
    @media #{$tablet} {
      min-height: 400px;
    }
    @media #{$sp} {
      min-height: 300px;
    }
  }
  .entry-footer {
    @include postlayout(40px);
  }
  .post-navigation {
    @include postlayout(40px);
  }

  .entry-info {
    display: table-cell;
    position: relative;
    z-index: 1;
  }
}

.archive .post,
.home .post {
  margin-top: 10px;
  padding: 20px;
  border: 1px solid #eee;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  background-color: #fff;
  &:first-child {
    margin-top: 0;
  }
  .entry-title {
    margin: 0;
    font-size: $large;
  }
  .wrap-thumb + .entry-info {
    margin-top: 1.6rem;
  }
  .entry-meta,
  .entry-content,
  .entry-footer {
    margin-top: .8rem;
  }
  .entry-content {
    color: #999;
    font-style: italic;
    font-size: $small;
  }
  .entry-footer {
    color: #999;
    font-size: $small;
    a {
      color: $link;
    }
  }
  .tags-links,
  .edit-link {
    margin-left: 1.0rem;
  }
}

.entry-content {
  p {
    font-size: 1.6rem;
  }
}

.wrap-thumb {
  position: relative;
  height: 0;
  padding-bottom: 40%;
  overflow: hidden;
  a {
    display: block;
  }
  img {
    display: block;
    position: absolute;
    max-width: inherit;
    height: auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}

/*
  固定ページ
*/
.page {
  .site-content {
    display: block;
    width: 100%;
    max-width: inherit;
    margin-top: 0;
  }
  .primary {
    display: block;
    float: inherit;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .secondary {
    @include postlayout(80px);
    float: inherit;
  }
  .entry-content {
    @include postlayout(80px);
  }
  .entry-header {
    display: table;
    position: relative;
    min-height: 500px;
    width: 100%;
    padding: 40px;
    background-color: #666;
    @media #{$tablet} {
      min-height: 400px;
    }
    @media #{$sp} {
      min-height: 300px;
    }
  }
  .entry-footer {
    @include postlayout(40px);
  }
}

.page-header {
  .page-title {
    margin: 0;
  }
}
