/*
  layout
*/
.site-content {
  width: 96%;
  max-width: 620px;
  margin: 0 auto;
  padding-top: 20px;
  @media #{$sp} {
    display: block;
    width: 100%;
    margin-top: 0;
  }
}

.single-post,
.page {
  .site-content {
    width: 100%;
    max-width: inherit;
    padding-top: 0;
  }
}

.primary {
  width: 100%;
  @media #{$sp} {
    display: block;
    width: 96%;
    margin: 0 auto;
    padding-right: 0;
  }
}

.secondary {
  @include postlayout(80px);
  @media #{$sp} {
    display: block;
    width: 90%;
    margin: 40px auto 0;
  }
}
