/*
  layout
*/
.site-content {
  display: flex;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 20px;
  @media #{$sp} {
    display: block;
    width: 100%;
    margin-top: 0;
  }
}

.site-content-pad {
  padding-top: 40px;
}

.primary {
  flex: 1;
  padding-right: 40px;
  vertical-align: top;
  @media #{$sp} {
    display: block;
    width: 96%;
    margin: 0 auto;
    padding-right: 0;
  }
}

.secondary {
  width: 300px;
  vertical-align: top;
  @media #{$tablet} {
    width: 200px;
  }
  @media #{$sp} {
    display: block;
    width: 90%;
    margin: 40px auto 0;
  }
}
