/*
  layout
*/
.site-content {
  display: flex;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 20px;
  @media #{$sp} {
    display: block;
    width: 100%;
    margin-top: 0;
  }
}

.primary {
  flex: 1;
  padding-right: 40px;
  vertical-align: top;
  @media #{$sp} {
    display: block;
    width: 96%;
    margin: 0 auto;
    padding-right: 0;
  }
}

.secondary {
  width: 300px;
  vertical-align: top;
  @media #{$tablet} {
    width: 200px;
  }
  @media #{$sp} {
    display: block;
    width: 90%;
    margin: 40px auto 0;
  }
}

.single-post,
.page {
  .site-content {
    display: block;
    width: 100%;
    max-width: inherit;
    padding-top: 0;
  }
  .primary {
    display: block;
    float: inherit;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .secondary {
    @include postlayout(80px);
    float: inherit;
  }
}
