.header {
  display: flex;
  z-index: 5;
  align-items: center;
  width: 100%;
  height: var(--header-head-s);
  border-bottom: 1px solid #eee;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  @media (--sm) {
    height: var(--header-head-l);
  }
}
