.site-content {
  width: 96%;
  max-width: 620px;
  margin: 0 auto;
  padding-top: 20px;
  @media (--sp) {
    display: block;
    width: 100%;
    margin-top: 0;
  }
}

.single-post,
.page {
  .site-content {
    width: 100%;
    max-width: inherit;
    padding-top: 0;
  }
  .primary {
    @media (--sp) {
      width: 100%;
    }
  }
}

.primary {
  width: 100%;
  @media (--sp) {
    display: block;
    width: 96%;
    margin: 0 auto;
    padding-right: 0;
  }
}

.secondary {
  display: block;
  width: 100%;
  max-width: 620px;
  margin: 80px auto 0;
  @media (--sp) {
    display: block;
    width: 96%;
    margin: 40px auto 0;
  }
}
