.headroom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: transform .2s;
  transition: transform .2s;
  z-index: 5;
}

.headroom--pinned {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.headroom--unpinned {
  -webkit-transform: translate3d(0, -100%, 0);
}
