@mixin pagenation() {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
}

@mixin arrow() {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 8px;
  height: 8px;
  margin: auto;
  border: solid #888;
}

.posts-navigation {
  margin-top: 4.0rem;
}

.nav-links {
  display: table;
  width: 100%;
  height: 8.0rem;
  border-top: 1px solid #e1e5e7;
  border-bottom: 1px solid #e1e5e7;
  @include clearfix();
  a {
    display: block;
    position: relative;
  }
}

.nav-previous {
  @include pagenation();
  text-align: left;
  a {
    border-right: 1px solid #e1e5e7;
    padding: 0 1.0rem 0 1.5rem;
    &::before {
      @include arrow();
      left: 0;
      border-width: 1px 0 0 1px;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}

.nav-next {
  @include pagenation();
  text-align: right;
  a {
    padding: 0 1.5rem 0 1.0rem;
    &::after {
      @include arrow();
      right: 0;
      border-width: 1px 1px 0 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
