.site-title {
  margin: 0;
  font-size: 2.0rem;
  @media #{$tablet} {
    display: inline-block;
  }
}

.site-description {
  margin-bottom: 0;
  font-size: 1.2rem;
  @media #{$tablet} {
    display: inline-block;
  }
}
