.site-title {
  margin: 0;
  font-size: $large;
  font-weight: normal;
  @media #{$tablet} {
    display: inline-block;
  }
}

.site-description {
  margin: 0;
  font-size: $small;
  @media #{$tablet} {
    display: inline-block;
  }
}
