/*
  List of articles
*/
.entry {
  margin-top: 24px;
  padding: 10px;
  border: 1px solid #eee;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  background-color: #fff;
  @media (--sm) {
    padding: 20px;
  }
  &:first-child {
    margin-top: 0;
  }
  &__info {
    & a, & a:visited {
      color: var(--default-color);
      &:hover, &:focus {
        color: var(--link-color);
      }
    }
  }
  &__title {
    margin: 0;
    font-size: var(--fs-large);
    word-break:break-all;
  }
  &__thumb + .entry__info {
    margin-top: 16px;
  }
  &__meta,
  &__content {
    margin-top: 8px;
  }
  &__footer {
    color: var(--sub-color);
    font-size: var(--fs-small);
    & a {
      color: var(--link-color);
    }
  }
  &__featured {
    display: inline-block;
    padding: 2px 8px;
    border-radius: 3px;
    background: #333;
    color: #fff;
  }
}

.home,
.archive,
.search {
  & .entry {
    &__content p {
      margin: 0;
      color: var(--sub-color);
      font-style: italic;
      font-size: var(--fs-small);
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }
}

/*
  Article page
*/
.single-post,
.page {
  & .entry {
    padding: 0;
    box-shadow: none;
    border: none;
    background-color: #fafafa;
    &__header {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      min-height: 300px;
      width: 100%;
      background-color: #666;
      @media (--lmd) {
        min-height: 400px;
      }
      @media (--lg) {
        min-height: 500px;
      }
    }
    &__thumb {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 0;
      & img {
        min-height: 100%;
        min-width: 100%;
        filter: brightness(.8);
      }
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .3);
      }
    }
    &__thumb + .entry__info {
      margin-top: 0;
    }
    &__info {
      position: relative;
      z-index: 1;
      padding: 40px;
      color: #fff;
      vertical-align: middle;
      text-align: center;
      & a {
        color: #fff;
      }
    }
    &__title {
      font-size: 3.0rem;
    }
    &__content {
      display: block;
      @apply --theme-width;
      margin: 80px auto 0;
      color: var(--default-color);
      font-style: normal;
      font-size: 1.6rem;
    }
    &__footer {
      display: block;
      @apply --theme-width;
      margin: 40px auto 0;
    }
    &__featured {
      margin-bottom: 16px;
      background: #fff;
      color: #333;
    }
  }
  & .posted-on {
    display: block;
  }
  & .byline {
    display: block;
    margin-top: 10px;
  }
}

.page-title {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.publised-label,
.update-label {
  display: block;
  @media (--sm) {
    display: inline;
  }
  & time {
    margin-left: 4px;
  }
}

.update-label {
  margin-left: 0;
  @media (--sm) {
    margin-left: 8px;
  }
}

.search {
  & .entry {
    &__content {
      margin: 8px 0 0;
    }
    &__footer {
      margin: 00;
    }
  }
}
