.comments {
  display: block;
  @apply --theme-width;
  margin: 40px auto 0;
  & textarea {
    width: 100%;
  }
  &__title {
    font-size: var(--fs-middle);
  }
  &__list {
    margin-left: 0;
    padding: 0;
    & li {
      list-style: none;
    }
  }
}

.comment {
  list-style: none;
  margin-top: 20px;
  padding: 24px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
  @media (--sp) {
    padding: 8px;
  }
  & .children {
    padding: 0;
  }
  & .comment.odd {
    background: #fafafa;
  }
  &.even + .odd {
    background: #fff;
  }
  & table {
    margin-top: 40px;
    width: 96%;
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
  }
  & th, & td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  & th {
    background-color: #eee;
  }
  & dl {
    margin-top: 40px;
    font-size: 1.6rem;
  }
  & dt {
    margin-top: 20px;
  }
  & dd {
    margin-left: 20px;
  }
  & ul {
    margin-top: 4rem;
    padding-left: 20px;
    & li {
      margin-top: 8px;
      list-style: disc;
      font-size: 1.6rem;
    }

  }
  & ol {
    margin-top: 40px;
    padding-left: 2.0rem;
    & li {
      margin-top: 8px;
      list-style: decimal;
      font-size: 1.6rem;
    }
    &.children {
      & li {
        list-style: none;
      }
    }
  }
  & li {
    & ul, & ol {
      margin-top: 8px;
    }
  }
  & blockquote {
    position: relative;
    display: block;
    width: 96%;
    padding: 20px;
    margin: 0 auto;
    border-radius: 5px;
    font-size: var(--fs-sub);
    margin-top: 40px;
    background-color: #eee;
    &::before {
      content: "“";
      font-size: 5.0rem;
      line-height: 1em;
      font-family: 'ＭＳ Ｐゴシック',sans-serif;
      color: #fff;
      position: absolute;
      left: 10px;
      top: 10px;
    }
    & p, & h1, & h2, & h3, & h4, & h5, & h6, & ul, & ol, & dl, & table {
      margin: 0;
    }
  }
  & pre {
    width: 100%;
    padding: 10px;
  }
  & p {
    margin-top: 20px;
    font-size: var(--fs-middle);
  }
}

.pingback {
  margin-top: 8px;
}

.comment-author,
.comment-meta {
  & a {
    color: var(--default-color);
    &:hover {
      color: var(--link-color);
    }
  }
}

.comment-notes {
  margin: 20px 0 10px;
}

.required {
  color: #f00;
}

.comment-form-comment,
.comment-form-author,
.comment-form-email,
.comment-form-url {
  margin: 20px 0 0;
  & label {
    display: block;
  }
}
