.gnav {
  @media (--tablet) {
    transform: translate3d(0, 0, 0);
    transition: all .4s;
    &.open {
      transform: translate3d(-100%, 0, 0);
    }
  }
}

.toggle-btn {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15px;
  width: 40px;
  height: 40px;
  margin: auto;
  padding: 0;
  box-shadow: none;
  border: none;
  background-color: inherit;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  visibility: hidden;
  &:focus {
    box-shadow: none;
  }
  &:hover {
    cursor: pointer;
  }
  & span {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 35px;
    height: 2px;
    margin: auto;
    background-color: #666;
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      width: 35px;
      height: 2px;
      background-color: #666;
      top: 10px;
      transform: rotate(0);
      transition: transform .3s;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      width: 35px;
      height: 2px;
      background-color: #666;
      bottom: 10px;
      transform: rotate(0);
      transition: transform .3s;
    }
  }
  &.toggle-btn_open {
    & span {
      background-color: rgba(0, 0, 0, 0);
      &::before {
        top: 0;
        bottom: 0;
        margin: auto;
        transform: rotate(45deg);
      }
      &::after {
        top: 0;
        bottom: 0;
        margin: auto;
        transform: rotate(-45deg);
      }
    }
  }
  @media (--tablet) {
    visibility: visible;
  }
}

.bg-ovly {
  display: block;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
  opacity: 0;
  transition: opacity .3s;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(4px);
  }
}

.bg-ovly-show {
  left: 0;
  opacity: 1;
}

.bodyfixed {
  overflow: hidden;
}
