:root {
  --textbg: {
    border: 1px solid;
    padding: 10px;
  }
}

.entry__content {
  & h1 {
    margin-top: 70px;
  }
  & h2 {
    margin-top: 60px;
  }
  & h3 {
    margin-top: 50px;
  }
  & h4 {
    margin-top: 32px;
  }
  & h5 {
    margin-top: 32px;
  }
  & h6 {
    margin-top: 32px;
  }
  & table {
    margin: 0 auto;
  }
  & th, & td {
    padding: 10px;
  }
  & dl {
    margin-top: 32px;
  }
  & dt {
    margin-top: 20px;
  }
  & dd {
    margin-left: 20px;
  }
  & ul, & ol {
    margin-top: 32px;
    padding-left: 20px;
    & li {
      margin-top: 6px;
    }
  }
  & li {
    & ul, & ol {
      margin-top: 8px;
    }
  }
  & p {
    margin-top: 32px;
    word-break: break-all;
  }
  & pre {
    margin: 0 auto;
  }
  & figure {
    margin: 32px 0 0 0;
    & ol, & ul {
      margin: 0;
      padding-left: 30px;
    }
    &.alignleft {
      margin-right: 8px;
    }
    &.alignright {
      margin-left: 8px;
    }
  }
  & figcaption {
    font-weight: bold;
  }
  & img {
    max-width: 96%;
    height: auto;
    & + figcaption {
      font-weight: normal;
    }
  }
  & blockquote {
    position: relative;
    display: block;
    width: 96%;
    padding: 20px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 32px;
    background-color: #eee;
    &::before {
      content: "“";
      font-size: 5.0rem;
      line-height: 1em;
      font-family: 'ＭＳ Ｐゴシック',sans-serif;
      color: #fff;
      position: absolute;
      left: 10px;
      top: 10px;
    }
    & p, & h1, & h2, & h3, & h4, & h5, & h6, & ul, & ol, & dl, & table {
      margin: 0;
    }
    & + figcaption {
      width: 96%;
      margin: 0 auto;
      text-align: right;
      font-weight: normal;
      font-style: italic;
    }
  }
  & address {
    font-size: var(--fs-sub);
  }
  & .note {
    margin-top: 20px;
    & h2, & h3, & h4, & h5, & h6 {
      margin: 0;
    }
    & p {
      margin-top: 16px;
    }
    & ul, & ol {
      margin-top: 20px;
    }
  }
}

.page-links {
  margin: 32px 0;
  text-align: center;
}

input[name="post_password"] {
  display: block;
  margin-top: 8px;
}

input[name="Submit"] {
  margin-top: 8px;
  @apply --submit-btn;
}
