:root {
  --textbg: {
    border: 1px solid;
    padding: 10px;
  }
}

.entry__content {
  font-size: 1.6rem;
  & h1 {
    margin-top: 140px;
    font-size: 3.2rem;
  }
  & h2 {
    margin-top: 100px;
    font-size: 2.6rem;
  }
  & h3 {
    margin-top: 80px;
    font-size: 2.2rem;
  }
  & h4 {
    margin-top: 40px;
    font-size: 1.8rem;
  }
  & h5 {
    margin-top: 40px;
    font-size: 1.6rem;
  }
  & h6 {
    margin-top: 40px;
    font-size: 1.4rem;
  }
  & table {
    margin-top: 40px;
    width: 96%;
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
  }
  & th, & td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  & th {
    background-color: #eee;
  }
  & dl {
    margin-top: 40px;
  }
  & dt {
    margin-top: 20px;
  }
  & dd {
    margin-left: 20px;
  }
  & ul {
    margin-top: 40px;
    padding-left: 20px;
    & li {
      margin-top: 8px;
      list-style: disc;
    }
  }
  & ol {
    margin-top: 40px;
    padding-left: 2.0rem;
    & li {
      margin-top: 8px;
      list-style: decimal;
    }
  }
  & li {
    & ul, & ol {
      margin-top: 8px;
    }
  }
  & p {
    margin-top: 40px;
  }
  & a {
    padding-bottom: 4px;
    border-bottom: 1px dashed #ccc;
    color: var(--link-color);
  }
  & pre {
    display: block;
    width: 96%;
    margin: 0 auto;
    padding: 16px;
    border-radius: 10px;
    background-color: #3d3d3d;
    font-size: var(--fs-middle);
    color: #f5f5f5;
    word-break: break-all;
    word-wrap: break-word;
    overflow: auto;
  }
  & figure {
    margin: 40px 0 0 0;
    & ol, & ul {
      margin-top: 20px;
      padding-left: 30px;
    }
    &.alignleft {
      margin-right: 8px;
    }
    &.alignright {
      margin-left: 8px;
    }
  }
  & figcaption {
    font-weight: bold;
  }
  & img {
    max-width: 96%;
    height: auto;
    & + figcaption {
      font-weight: normal;
    }
  }
  & blockquote {
    position: relative;
    display: block;
    width: 96%;
    padding: 20px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 40px;
    background-color: #eee;
    &::before {
      content: "“";
      font-size: 5.0rem;
      line-height: 1em;
      font-family: 'ＭＳ Ｐゴシック',sans-serif;
      color: #fff;
      position: absolute;
      left: 10px;
      top: 10px;
    }
    & p, & h1, & h2, & h3, & h4, & h5, & h6, & ul, & ol, & dl, & table {
      margin: 0;
    }
    & + figcaption {
      width: 96%;
      margin: 0 auto;
      text-align: right;
      font-weight: normal;
      font-style: italic;
    }
  }
  & address {
    font-size: 1.4rem;
  }
  & .bg-danger {
    @apply --textbg;
    border-color: #e67168;
    color: #e67168;
  }
  & .bg-success {
    @apply --textbg;
    border-color: #1e8d96;
    color: #1e8d96;
  }
  & .bg-info {
    @apply --textbg;
    border-color: #1570a6;
    color: #1570a6;
  }
  & .bg-warning {
    @apply --textbg;
    border-color: #e7ba21;
    color: #e7ba21;
  }
  & .column {
    margin-top: 20px;
    padding: 16px;
    border: 1px solid #ccc;
    font-size: 1.4rem;
    & h2, & h3, & h4, & h5, & h6 {
      margin: 0;
      font-size: 1.4rem;
    }
    & p {
      margin-top: 16px;
    }
    & ul, & ol {
      margin-top: 20px;
    }
  }
}
