.single {
  & .entry__footer {
    & .cat-links {
      display: block;
      & li {
        margin: 5px 5px 0 0;
      }
    }
    & .tags-links {
      margin-top: 20px;
      & a {
        margin: 5px 5px 0 0;
      }
    }
  }
}

.entry__footer{
  & .post-categories {
    display: inline-block;
    & li {
      display: inline-block;
    }
  }
  & .tags-links {
    display: block;
    margin-left: 0;
    & a {
      display: inline-block;
      margin-right: 5px;
    }
  }
}
