.headroom {
  position: fixed;
  top: 0;
  left: 0;
  transition: transform .3s;
}

.headroom--pinned {
  transform: translate3d(0, 0, 0);
}

.headroom--unpinned {
  transform: translate3d(0, -100%, 0);
}
