.gnav {
  position: relative;
  background: #fff;
  @media (--tablet) {
    position: fixed;
    top: 0;
    right: -50%;
    z-index: 3;
    width: 50%;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
    & li {
      border-bottom: 1px solid #eee;
    }
    & a {
      display: block;
      padding: 10px;
    }
  }
  @media (--sp) {
    right: -80%;
    width: 80%;
  }
  & li {
    @media (--tablet) {
      display: block;
      float: inherit;
      width: 100%;
    }
    &.current-menu-item > a {
      color: var(--link-color);
    }
  }
  & a {
    display: block;
    padding: 10px 10px;
    color: #555;
    &:hover {
      color: var(--link-color);
    }
  }
}

.primary-menu {
  @media (--tablet) {
    width: 100%;
  }
}

.sub-menu {
  display: block;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 5;
  margin: 0;
  padding: 0;
  background-color: #fff;
  transition: opacity .3s;
  & li {
    float: inherit;
    padding: 0 20px;
  }
  @media (--tablet) {
    position: inherit;
    display: block;
    visibility: visible;;
    opacity: 1;
    & li {
      padding: 0;
      border-top: 1px solid #eee;
      border-bottom: none;
    }
    & a {
      padding-left: 40px;
    }
    & .sub-menu {
      & a {
        padding-left: 70px;
      }
    }
  }
  & .sub-menu {
    top: 0;
    left: 100%;
    min-width: 100px;
    @media (--tablet) {
      left: 0;
    }
  }
}


.menu-item-has-children {
  &:hover > .sub-menu {
    visibility: visible;
    opacity: 1;
  }
  & .menu-item-has-children {
    position: relative;
  }
}
