.gnav {
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 3;
  width: 300px;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  @media (--sp) {
    right: -80%;
    width: 80%;
  }
  & li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #ccc;
    &.current-menu-item > a {
      color: var(--link-color);
    }
  }
  & a {
    display: block;
    padding: 10px 10px;
    color: #333;
    &:hover {
      color: var(--link-color);
    }
  }
}

.primary-menu {
  padding: 65px 0 10px;
  @media (--tablet) {
    width: 100%;
  }
  @media (--sp) {
    padding-top: 50px;
  }
}

.sub-menu {
  display: block;
  & li {
    border-top: 1px solid #ccc;
    border-bottom: none;
  }
  & a {
    padding-left: 40px;
  }
  & .sub-menu {
    & a {
      padding-left: 70px;
    }
  }
}
