:root {
  --arrow: {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 8px;
    height: 8px;
    margin: auto;
    border: solid #888;
  }
}

.posts-navigation {
  margin-top: 40px;
}

.single-post,
.page {
  & .post-navigation {
    display: block;
    @apply --theme-width;
    margin: 40px auto 0;
  }
}

.nav-links {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 80px;
  padding: 8px 0;
  border-top: 1px solid #e1e5e7;
  border-bottom: 1px solid #e1e5e7;
  &::after {
    content: "";
    clear: both;
    display: block;
  }
  & a {
    display: block;
    position: relative;
    width: 100%;
    &:hover {
      color: var(--link-color);
    }
  }
}

.nav-previous,
.nav-next {
  display: flex;
  width: 50%;
  vertical-align: middle;
  & a {
    padding: 0 10px 0 15px;
  }
}

.nav-previous {
  vertical-align: middle;
  text-align: left;
  & a {
    border-right: 1px solid #e1e5e7;
    &::before {
      @apply --arrow;
      left: 0;
      border-width: 1px 0 0 1px;
      transform: rotate(-45deg);
    }
  }
}

.nav-next {
  flex: 1;
  & a {
    &::after {
      @apply --arrow;
      right: 0;
      border-width: 1px 1px 0 0;
      transform: rotate(45deg);
    }
  }
}
