.header {
  &__title {
    display: inline-block;
    margin-left: 8px;
    font-size: var(--fs-large);
    font-weight: bold;
    color: #222;
  }
  &__description {
    display: inline-block;
    margin: 0 0 0 12px;
    font-size: var(--fs-small);
    @media (--sp) {
      display: none;
    }
  }
}
