.site-branding {
  @media (--tablet) {
    padding-right: 60px;
    vertical-align: middle;
  }
  &__title {
    margin: 0;
    font-size: var(--fs-large);
    font-weight: normal;
    @media (--tablet) {
      display: inline-block;
    }
  }
  &__description {
    margin: 0;
    font-size: var(--fs-small);
    @media (--tablet) {
      display: inline-block;
    }
  }
}
