.header {
  & a, & a:visited {
    color: var(--default-color);
    &:hover, &:focus {
      color: var(--link-color);
    }
  }
  &__title {
    display: inline-block;
    margin: 0 0 0 8px;
    font-size: var(--fs-large);
    font-weight: bold;
    color: #222;
    @media (--lg) {
      margin: 0 0 0 24px;
    }
  }
  &__description {
    display: none;
    @media (--sm) {
      display: inline-block;
      margin: 0 0 0 12px;
      font-size: var(--fs-small);
    }
  }
}
