.widget {
  margin-top: 60px;
  &:first-child {
    margin-top: 0;
  }
  &__title {
    margin: 0 0 12px 0;
    padding: 0 0 8px 0;
    border-bottom: 1px solid #eee;
    font-size: var(--fs-large);
    font-weight: normal;
  }
  & ul {
    padding-left: 12px;
  }
  & li {
    margin-top: 8px;
    &:first-child {
      margin-top: 0;
    }
  }
}

.widget_archive,
.widget_categories,
.widget_meta {
  & ul {
    display: flex;
    flex-wrap: wrap;
  }
  & li {
    margin: 0 12px 12px 0;
  }
}
