.widget {
  margin-top: 40px;
  &:first-child {
    margin-top: 0;
  }
  &__title {
    margin: 0 0 12px 0;
    padding: 0 0 0 8px;
    border-left: 2px solid #888;
    font-size: var(--fs-large);
    font-weight: normal;
  }
  & ul {
    padding-left: 12px;
  }
  & li {
    list-style: none;
    margin-top: 8px;
    &:first-child {
      margin-top: 0;
    }
  }
  & a, & a:visited {
    color: var(--default-color);
    &:hover, &:focus {
      color: var(--link-color);
    }
  }
}

.widget_archive,
.widget_categories,
.widget_meta {
  & ul {
    display: flex;
    flex-wrap: wrap;
  }
  & li {
    margin: 0 12px 12px 0;
  }
}
